[Unit]
Description=PACS RIS Crawler Receiver
After=network.target

[Service]
User=cyriacj
Group=www-data
WorkingDirectory=/var/www/pacs-ris-crawler/receiver
Environment="PATH=<python virtual env path>:/usr/bin"
ExecStart=/var/www/env3.6_meta/bin/gunicorn -b localhost:5005 -w 4 --log-level=info mova.app:app

[Install]
WantedBy=multi-user.target