[Unit]
Description=PACS RIS Crawler Download worker
After=network.target

[Service]
WorkingDirectory=/var/www/pacs-ris-crawler/receiver
Environment="PATH=<python virtual env path>:/usr/bin"
ExecStart=/var/www/pacs-ris-crawler/.venv/bin/rq worker high medium

[Install]
WantedBy=multi-user.target