<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Job history</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/open-iconic-bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css') }}">
</head>

<body class="container">
  {% include 'partials/header.html' %}
  <div class="container py-3 mt-1 rounded" style="background-color:#B3D7FF">
    <div class="pl-3 pt-2">
      <div class="d-flex justify-content-between">
        <h4>Receiver is up and running</h4>
        <a class="btn btn-sm mr-1 text-white" target="_blank" href="/rq" style="background-color: #526880;border-color: #526880;">Transfer &amp;
          Download progress <span class="oi oi-external-link small"></span></a>
      </div>
    </div>
  </div>

  <div class="container py-3 mt-1 rounded" style="background-color:#B3D7FF">
    <h5>Debug downloading a single series! This is for single series only!</h5>
    <div class="pl-3 pt-2">
      <form method="post" action="/download_debug">
        <div class="form-group">
          <label for="study_uid">Study UID:</label>
          <input type="text" class="form-control" id="study_uid" name="study_uid">
        </div>
        <div class="form-group">
          <label for="series_uid">Series UID:</label>
          <input type="text" class="form-control" id="series_uid" name="series_uid">
        </div>
        <div class="form-group">
          <label for="download_folder">Download Folder:</label>
          <input type="text" class="form-control" id="download_folder" name="download_folder">
        </div>
        <button type="submit" class="btn btn-primary">Download</button>
      </form>
    </div>
  </div>
</body>

</html>