<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Job history</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/open-iconic-bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css') }}">
</head>

<body class="container">
  {% include 'partials/header.html' %}
  <div class="container py-3 mt-1 rounded" style="background-color:#B3D7FF">
    <div class="pl-3 pt-2">
      <div class="d-flex justify-content-between">
        <h4>Job history</h4>
        <a class="btn btn-sm mr-1 text-white" target="_blank" href="/rq" style="background-color: #526880;border-color: #526880;">Transfer &amp;
          Download progress <span class="oi oi-external-link small"></span></a>
      </div>
    </div>
  </div>
  {% assets "js_all" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
</body>

</html>