<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Job history</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/open-iconic-bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css') }}">
</head>

<body class="container">
    {% include 'partials/header.html' %}

    <div class="container py-3 mt-1 rounded" style="background-color:#B3D7FF">

        <div class="px-3 pt-2">
            <div class="row d-flex justify-content-end mb-3">
                <a class="btn btn-info btn-sm mr-1" target="_blank" href="http://localhost:9001/rq"
                    style="background-color: #526880;border-color: #526880;">Transfer
                    &amp;
                    Download progress <span class="oi oi-external-link small"></span></a>
            </div>
            <div class="row px-3 pt-3">
                <div class="col">
                    <a class="btn btn-secondary" href="/">Go Back</a>
                </div>
                <div class="col">Job: <span class="text-monospace font-weight-bold">{{filename}}</span></div>
                <div class="col text-right">
                    <a class="btn btn-primary" ic-get-from="/resend?filename={{filename}}" ic-target="#target-span"
                        ic-indicator="spinner" href="#">Resend</a>
                    <span id="spinner" class="spinner-border spinner-border-sm" role="status"
                        style="display:none"></span>
                    <span id="target-span" class="pl-2">
                        <!-- To reserve space -->
                        <span class="oi oi-check invisible"></span>
                    </span>
                </div>
            </div>
            <samp style="white-space: pre-wrap;">
                {{content}}
            </samp>
        </div>
    </div>
    {% assets "js_all" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
</body>

</html>