<div class="container rounded pt-3 mt-4" style="background-color:#edf4f7">
    <div class="row">
        <div class="col-sm-3">
            <a class="pl-3" href="/">Statistics</a>
            <div class="pl-3 dib">
                <small class="nowrap f6 mt2 mt3-ns pr2 black-70 fw2">v2.8.1</small>
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <div class="input-group input-group-sm mb-3">
                </div>
            </div>
            <div class="alert alert-danger small d-none" role="alert">
                <strong>Error:</strong>
                <br>
                <small></small>
            </div>
            <input type="hidden" name="offset" value="0">
            <input type="hidden" name="page" value="0">
        </div>
        <div class="col-auto">
            <img src="/static/images/logo.svg" alt="Universitätsspital Basel" style="height:34px">
            <small>
                <p class="mt-2" style="padding-left: 50px;">Klinik für Radiologie und Nuklearmedizin</p>
            </small>
        </div>
    </div>
</div>