<div class="container px-0 border-bottom pb-1 pt-2">
  <div class="row">
    <div class="col">
      <input type="checkbox" name="select-all-page"><span class="pl-1"> Patients found: </span><span class="badge badge-secondary mr-3">{{ results }}</span>  Studies found: <span class="badge badge-secondary" id="studies_result">{{ studies_result }}</span>
    </div>
    <div class="col">
        {% include 'paging.html' %}
      </div>
    <div class="col-1">
      <div class="float-sm-right">
        <a href="#" id="expand-all"><span class="oi oi-collapse-down" title="Expand all"></span></a>
      </div>
      <div class="float-sm-right mr-3">
        <a href="#" id="collapse-all"><span class="oi oi-collapse-up" title="Collapse all"></span></a>
      </div>
    </div>
  </div>
</div>
<ul class="list-group result">
  {% for doc in docs['groups'] %}
  <li class="list-group-item patients pr-0">
    <div class="form-check">
      <input type="checkbox" class="form-check-input" name="select-all-patient"
        data-patient-id="{{ doc['groupValue'] }}">
      <a data-toggle="collapse" data-target="#{{ doc['groupValue'] }}" href="#">
        <span class="oi oi-collapse-down float-sm-right"></span>
        <span class="float-right pr-3">Studies <span class="badge badge-secondary">{{ doc.doclist.numFound }}</span>
        </span>
        <div class="col pl-0">
          {{ doc.doclist.docs[0]['PatientID'] }}, {{ doc.doclist.docs[0]['PatientSex'] }}
        </div>
      </a>
    </div>
  </li>
  <div class="pl-3 collapse" id="{{ doc['groupValue'] }}">
    {% for study in doc.doclist.docs %}
    {% include 'study.html' %}
    {% endfor %}
  </div>
  {% endfor %}
</ul>