<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>PACS / RIS Statistics</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/pikaday.css') }}">
  <script src="https://unpkg.com/htmx.org@1.8.4"
    integrity="sha384-wg5Y/JwF7VxGk4zLsJEcAojRtlVp1FKKdGy1qN+OMtdq72WRvX/EdRdqg/LOhYeV"
    crossorigin="anonymous"></script>
  {% assets "js_all" %}
  <script type="text/javascript" src="{{ ASSET_URL }}"></script>
  {% endassets %}
</head>

<body data-page="statistics">
  {% include 'partials/header-statistics.html' %}
  <div class="container px-0">
    <div id="statistics-page" class="container py-3 show bg-light mt-1 form-inline">
      <form class="form-group pl-2 py-2" hx-get="/stats_per_year" hx-target="#year_viz">
        <label class="pr-2">Year: </label>
        <input class="form-control" type="number" min="2002" max="2099" step="1" name="year" />
        <button class="btn btn-primary btn-sm ml-3">Visualize</button>
      </form>
    </div>
    <figure class="figure pt-3">
      <div id="year_viz" class="pl-3 pt-3"></div>
    </figure>
  </div>
</body>

</html>