<nav class="dt w-100 border-box pa3 ph5-ns">
  <a class="dtc v-btm link w-75 link f6 f5-ns dib mr3 mr4-ns" href="/" title="Home">
    Pacs Crawler
    <div class="dib">
        <small class="nowrap f6 mt2 mt3-ns pr2 black-70 fw2">{{ version }}</small>
    </div>
  </a>
  <div class="dtc v-btm w-50 tr">
    <a class="link f6 f5-ns dib" href="http://www.unispital-basel.ch/index.php?id=1899" title="Klinik für Radiologie und Nuklearmedizin">
    Universitätsspital Basel<br>
    Klinik für Radiologie und Nuklearmedizin
    </a>
  </div>
</nav>
